body {
    padding: 0;
    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.header {
    padding: 10px;
    text-align: center;
    background: #8080ff;
    color: white;
    margin-bottom: 20px;
}

thead tr:nth-child(1) th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

th {
    text-align: center;
}

select.rule {
    width: 100%;
}

input[type="file"] {
    display: none;
}

td, th {
    min-width: 150px;
}

span > i {
    margin-right: 6px;
}

.loading {
    font-size: 2em;
    text-align: center;
}
