<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAG Excel Importer</title>
    <script lang="javascript" src="node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/FileSaver.min.js"></script>
    <script src="lib/vue.js"></script>
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">
        <app-header
            @file-selected="readExcelFile"
            @pipeline="pipeline"
            @process="process"
            :info="fileInfo">
        </app-header>

        <p class="loading" v-if="isLoading">
            <i class="fas fa-spinner fa-spin"></i> Loading...
        </p>

        <column-rules-modal ref="columnRulesModalComponent"></column-rules-modal>
        <collect-empid-modal></collect-empid-modal>
        <pipeline-modal></pipeline-modal>

        <div v-if="showExcel" class="container-fluid px-0">
            <table class="table table-bordered table-sm table-hover">
                <thead class="thead-light">
                    <th v-for="(column, index) of columns"
                        :name="'cell-header ' + column"
                        :id="'cell-header-id ' + column">{{column.title}}
                        <div :id="'column-head-buttons-' + column">
                            <button v-if="column.buttonText" type="button" class="btn btn-info" :name="'btn-col-rule ' + column.title" @click="showColumnRules(index)">
                                {{column.buttonText}}
                            </button>
                        </div>
                    </th>
                </thead>
                <tbody>
                    <tr v-for="row in processedRows">
                        <td v-for="col in row">
                            {{col}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script src="src/utils.js"></script>
    <script src="src/ui-utils.js"></script>
    <script src="src/excel.js"></script>
    <script src="src/api.js"></script>
    <script src="src/db.js"></script>
    <script src="src/mapping.js"></script>
    <script src="src/normalization.js"></script>
    <script src="src/processor.js"></script>
    <script src="src/modals/column-rules.js"></script>
    <script src="src/modals/collect-empid.js"></script>
    <script src="src/modals/pipeline.js"></script>
    <script src="src/header.js"></script>
    <script src="src/index.js"></script>

</body>

</html>
